body{
font-family: Arial;
background:#f3f3f3;
}

.container{

width:350px;
margin:50px auto;
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);

}

.logo{
color:green;
text-align:center;
}

.range{
text-align:center;
color:green;
}

label{
display:block;
margin-top:10px;
}

input,select{

width:100%;
padding:10px;
margin-top:5px;
border-radius:6px;
border:1px solid #ccc;

}

button{

width:100%;
padding:12px;
margin-top:20px;
background:linear-gradient(to right,#7a0000,green);
color:white;
border:none;
border-radius:8px;
font-size:16px;

}

.loan-grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:10px;

}

.loan{

padding:15px;
border:1px solid #ccc;
border-radius:8px;
text-align:center;
cursor:pointer;

}

.loan:hover{

border:2px solid green;

}